body {
    
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    border: 5px solid;
    flex-wrap: nowrap;
    align-items: center;
}

button {
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px 20px 20px;
}