body {
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    display: flex;
    margin: 200px 0px 200px 0px;
    flex: 1 1 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: large;
}

.scoreboard {
    display: flex;
    flex: 1 1 100%;
    align-items:center;
    gap: 50px;

}

.gamescreen {
    border: 5px solid black;
    border-radius: 10px;
    padding: 200px 100px 200px 100px;
    width: 40%;
    text-align: center;
}


.controls {
    margin: 30px 0px 30px 0px;
}

button {
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 0px 20px;
    border: none;
    /*source: https://www.w3schools.com/csS/css3_buttons.asp */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}