body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    border: 5px solid;
    flex-wrap: nowrap;
    align-items: center;
    
}

.scoreboard {
    display: flex;
    flex: 1 1 100%;
    align-items:center;
    gap: 50px;

}

.gamescreen {
    border: 5px solid black;
    padding: 100px 100px 100px 100px;
    width: 40%;
    text-align: center;
}


.controls {
    margin: 30px 0px 30px 0px;
}

button {
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 0px 20px;

}